In [1]:
#Linear regression
#dummy variables
#onehotencoder
#train test split

In [2]:
import os 
import pandas as pd

In [3]:
os.chdir(r'C:\Users\SUBRAHMANYAM\OneDrive\Desktop\fresh project')

In [4]:
os.listdir()

['areaprice.xlsx', 'Book1.xlsx']

In [5]:
df=pd.read_excel('Book1.xlsx')

In [6]:
df.head()

  area  size  price
0    x   500  50000
1    y   400  60000
2    z   300  55000
3    x   300  30000
4    y   400  60000

In [7]:
#creating dummies using pandas

In [8]:
df1=pd.get_dummies(df['area'])

In [9]:
df1.head()

   x  y  z
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  0  1  0

In [10]:
df2=pd.concat([df,df1],axis='columns')

In [11]:
df2.head()

  area  size  price  x  y  z
0    x   500  50000  1  0  0
1    y   400  60000  0  1  0
2    z   300  55000  0  0  1
3    x   300  30000  1  0  0
4    y   400  60000  0  1  0

In [12]:
df3=df2.drop(['area','z'],axis='columns')

In [13]:
df3.head()

   size  price  x  y
0   500  50000  1  0
1   400  60000  0  1
2   300  55000  0  0
3   300  30000  1  0
4   400  60000  0  1

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model=LinearRegression()

In [16]:
x=df3.drop(['price'],axis='columns')

In [17]:
y=df3['price']

In [18]:
x

    size  x  y
0    500  1  0
1    400  0  1
2    300  0  0
3    300  1  0
4    400  0  1
5    500  0  0
6    600  1  0
7    700  0  1
8    800  0  0
9    800  1  0
10   700  0  1
11   600  0  0
12   900  1  0
13  1000  0  1
14  1100  0  0
15  1100  1  0
16  1100  0  0
17  1000  0  1
18   900  0  0

In [19]:
y

0      50000
1      60000
2      55000
3      30000
4      60000
5      89000
6      60000
7      84000
8     150000
9      80000
10     84000
11    112000
12     90000
13    120000
14    187000
15    110000
16    187000
17    120000
18    153000
Name: price, dtype: int64

In [20]:
model.fit(x,y)

LinearRegression()

In [21]:
model.coef_

array([   126.3034188 , -56068.37606838, -38068.37606838])

In [22]:
model.intercept_

37655.98290598286

In [23]:
model.predict([[1500,1,0]])

array([171042.73504274])

In [24]:
model.score(x,y)

0.9593107393406063

In [25]:
#using label encoder and onehotencoder

In [26]:
df5=df.copy()

In [27]:
df5.head()

  area  size  price
0    x   500  50000
1    y   400  60000
2    z   300  55000
3    x   300  30000
4    y   400  60000

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
le=LabelEncoder()

In [30]:
df5['area']=le.fit_transform(df5['area'])

In [31]:
df5.head()

   area  size  price
0     0   500  50000
1     1   400  60000
2     2   300  55000
3     0   300  30000
4     1   400  60000

In [32]:
X=df5[['area','size']].values
X

array([[   0,  500],
       [   1,  400],
       [   2,  300],
       [   0,  300],
       [   1,  400],
       [   2,  500],
       [   0,  600],
       [   1,  700],
       [   2,  800],
       [   0,  800],
       [   1,  700],
       [   2,  600],
       [   0,  900],
       [   1, 1000],
       [   2, 1100],
       [   0, 1100],
       [   2, 1100],
       [   1, 1000],
       [   2,  900]], dtype=int64)

In [33]:
y=df['price']
y

0      50000
1      60000
2      55000
3      30000
4      60000
5      89000
6      60000
7      84000
8     150000
9      80000
10     84000
11    112000
12     90000
13    120000
14    187000
15    110000
16    187000
17    120000
18    153000
Name: price, dtype: int64

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [35]:
ohe=OneHotEncoder()

In [36]:
x=ohe.fit_transform(df5[['area']]).toarray()

In [37]:
x

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [39]:
xx=['x','y','z']

In [40]:
xx

['x', 'y', 'z']

In [41]:
df6=pd.DataFrame(x,columns=xx)

In [42]:
df6['size']=df5['size']

In [43]:
x=df6
x=x.drop(['x'],axis='columns')
x

      y    z  size
0   0.0  0.0   500
1   1.0  0.0   400
2   0.0  1.0   300
3   0.0  0.0   300
4   1.0  0.0   400
5   0.0  1.0   500
6   0.0  0.0   600
7   1.0  0.0   700
8   0.0  1.0   800
9   0.0  0.0   800
10  1.0  0.0   700
11  0.0  1.0   600
12  0.0  0.0   900
13  1.0  0.0  1000
14  0.0  1.0  1100
15  0.0  0.0  1100
16  0.0  1.0  1100
17  1.0  0.0  1000
18  0.0  1.0   900

In [44]:
y

0      50000
1      60000
2      55000
3      30000
4      60000
5      89000
6      60000
7      84000
8     150000
9      80000
10     84000
11    112000
12     90000
13    120000
14    187000
15    110000
16    187000
17    120000
18    153000
Name: price, dtype: int64

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
le=LinearRegression()

In [47]:
le.fit(x,y)

LinearRegression()

In [48]:
le.predict([[0,0,500]])

array([44739.31623932])

In [49]:
le.score(x,y)

0.9593107393406063

In [54]:
#train test split

In [55]:
from sklearn.model_selection import train_test_split

In [76]:
 X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.1)

In [77]:
le.fit(X_train,y_train)

LinearRegression()

In [78]:
le.predict([[0,0,500]])

array([45319.39163498])

In [79]:
le.score(X_train,y_train)

0.9612476759014358